# 이 파일을 .env로 복사하여 개인 카페24 접속 정보로 설정하세요.
CI_ENVIRONMENT = production
app.baseURL = 'https://YOUR-DOMAIN/'
app.forceGlobalSecureRequests = true
cookie.secure = true
database.default.hostname = localhost
database.default.database = YOUR_DATABASE
database.default.username = YOUR_DATABASE_USER
database.default.password = YOUR_DATABASE_PASSWORD
database.default.DBDriver = MySQLi
database.default.port = 3306
database.default.DBDebug = false
